.commentContainer {
    display: flex;
}

.bqBar {
    width: 5px;
    background-color: rgba(128, 128, 128, 0.486);
    border-radius: 2px;
    margin: 3px;
}

.innerContainer{
    text-align: left;
}