.commentContainer {
    display: flex;
    padding-left: 8px;
}

.bqBar {
    background-color: rgb(190, 190, 190);
    border-radius: 2px;
    margin: 3px;
    border: 3px solid rgb(190, 190, 190);
}



.innerContainer{
    text-align: left;
}

.authorContainer {
    display: flex;
}

.commentAuthorImg {
    height: 20px;
    width: auto;
}

.authorName {
    margin: 0;
}

.commentBody {
    margin-block-start: 0.5em;
}