.cardImage {
    max-width: 25vw;
    height: auto;
    max-height: 40vh;
    padding-left: 10px;
}

.cardTextImage {
    height: 50px;
    width: auto;
}

.cardTextImageContainer, .cardImageContainer {
    display: flex;
    align-items: center
}