.infoContainer {
    display: flex;
    flex-direction: column;
    
}


.titleContainer {
    display: flex;
    flex: 1;
    align-items: center;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
}