.srContainer {
    width: 90vw;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
}

.title {
    text-align: center;
}

.srContentOuterContainer {
    display: flex;
    border: 1px solid gray
}

.srContentContainer {
    display: flex;
}

