.srContainer {
    width: 90vw;
    padding: 10px;
    margin-top: 10px;
    display: flex;
}

.title {
    text-align: center;
}

.srContentOuterContainer {
    display: flex;
    
}

.srContentContainer {
    display: flex;
}

