.srContainer {
    max-width: 30vw;
    padding: 10px;
    margin-top: 10PX;
}

.title {
    text-align: center;
}

.srContentOuterContainer {
    display: flex;
    
}

.srContentContainer {
    display: flex;
}

