.navLink{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 50px;
    margin-top: 2px;
}

.title {
    font-family: 'Righteous', cursive;
    text-decoration: none;
    font-size: 2em;
}

.mini {
    font-size: 0.8em;
}